@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(133, 124, 124);
    width: 434px;
    font-family: 'Libre Baskerville', serif;
    height: 100vh;
}
.sidebar nav{
    padding: 72px;
}
.sidebar nav li{
    list-style: none;
    font-size: 18px;
    padding: 33px 0;
}
.main{
/*background-color: yellow;*/
width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
   /* background-color: rgb(168, 26, 173);*/
    height: 58vh;
    width:80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
}
.devpic img{
    height: 58vh;
    width: 30vw;
}
.hello{
   font-size: 65px; 

}
.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    
}
.about{
    font-size: 30px;
    margin-top: 3%;
    margin-left: 10%;
}
.moreabout{
   font-size: 15px; 
   margin-top: 5%;
   margin-left: 10%;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin:0 3px;
    cursor:pointer;
    margin-top: 10%;
}
.btn-sm{
font-size: 17px;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}
.contactform h1{
 text-align: center;
 padding: 12px 0;
}
.contactform{
    padding-top: 144px;
    padding: 144px 34px;
}
.contactform div{
    padding: 10px 0;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}
.skillcon{
    padding-top: 5%;
}
.skillcontainer{
    padding: 12px;
    
}
.skillItem{
    display: flex;
    align-items: center; font-weight: 900;
}
.hundred{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 125px ;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.pro{
    font-weight: 900px;
}
.proo{
    padding-top: 5%;
}
.tech{
    padding: 10px;
    
}
.makeup{
    padding:10px;

}
.im{
    width:60%;
    height:80%;
}